<div class="row app-nav">
    <div class="col-4">
        <h3>SOCIAL NETWORK</h3>
    </div>
    <div class="col-4"
         *ngIf="user">
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input type="text"
                   pInputText
                   [(ngModel)]="searchValue"
                   placeholder="Search"
                   maxlength="50"
                   (focus)="setShowBox($event)"
                   (focusout)="setShowBox($event)">
        </span>
    </div>
    <div class="col-4 user-info"
         *ngIf="user">
        <h3 (click)="userClickHandler()"
            class="user-data-display">
            <i class="pi pi-user"></i>
            {{user.firstName}} {{user.lastName}}
        </h3>
        <div class="more-dropdown">
            <i class="pi pi-caret-down"
               (click)="showMoreInfo()"></i>
        </div>
    </div>
</div>
<div *ngIf="showMore"
     class="more-info">
    <ul>
        <li (click)="logOutUser()"
            hover-class="more-info-list-item-hover">
            <i class="pi pi-unlock"></i>
            Log out
            <span class="underline-animation"></span>
        </li>
    </ul>
</div>

<app-search-box *ngIf="showSearchBox"
                [users]="users"
                [currentUser]="user"
                (onProfileSelect)="handleProfileSelect($event)"></app-search-box>