@import "../../../../shared/variables";
@import "../../../../shared/mixins";

:host {
    background: red;
}

:host {
    #particles-js {
        height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .redirect-to-login {
        a {
            color: White;
            text-decoration: none;
        }
    }
    .title-container {
        text-align: center;
    }
    color: $darkSecondaryColorText;
    .row {
        margin-bottom: 1.5rem;
    }
    input,
    label {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        color: $darkSecondaryColorText;
    }
    input {
        @include applyBorderRadius;
        height: 2.5rem;
        background-color: $darkSecondaryColor;
        color: $inputColors;
        padding-left: 1rem;
        padding-right: 3rem;
    }
    .signup-wrapper {
        width: 30%;
        z-index: 2;
    }
    .signup-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4rem);
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .waves {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
    }
    .submit_btn {
        margin-top: 1rem;
        height: 2.5rem;
        outline: none;
        border: none;
        background-color: $darkSecondaryColor;
        color: $darkSecondaryColorText;
        @include applyBorderRadius;
        font-size: 1.4rem;
        box-shadow: 1px 2px 0px 0px rgb(29, 29, 29);
        width: 100%;
    }
    .submit_btn:hover {
        transition: 0.5s ease;
        background-color: $darkSecondaryColorText;
        color: black;
    }
    .position_icon {
        position: relative;
        .pi {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            font-size: 1.5rem;
        }
    }
    .invalid {
        input {
            border: 1px solid $errorColor;
        }
    }

    .spinner-mask {
        background-color: rgba(0, 0, 0, 0.582);
        width: 100%;
        height: 100vh;
        z-index: 1001;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .errors-container {
        background-color: $errorColorFaded;
        color: $darkSecondaryColorText;
        @include applyBorderRadius;
        height: 2.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media screen and (max-width: 1800px) {
        .signup-wrapper {
            width: 32%;
        }
    }
    @media screen and (max-width: 1600px) {
        .signup-wrapper {
            width: 35%;
        }
    }
    @media screen and (max-width: 1500px) {
        .signup-wrapper {
            width: 35%;
        }
        h1 {
            font-size: 1.5rem;
        }
        div {
            font-size: 0.9rem;
        }
        .submit_btn {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 1300px) {
        .signup-wrapper {
            width: 40%;
        }
    }
    @media screen and (max-width: 1100px) {
        .signup-wrapper {
            width: 50%;
        }
    }
    @media screen and (max-width: 900px) {
        .signup-wrapper {
            width: 70%;
        }
    }
    @media screen and (max-width: 700px) {
        .signup-wrapper {
            width: 80%;
        }
        .submit_btn {
            width: 90%;
        }
    }
    @media screen and (max-width: 550px) {
        .signup-wrapper {
            width: 80%;
        }
        h1 {
            font-size: 1.3rem;
        }
        div {
            font-size: 0.8rem;
        }
        .submit_btn {
            font-size: 1rem;
            height: 2rem;
        }
        input {
            height: 2rem;
        }
        .position_icon {
            .pi {
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width: 450px) {
        .signup-wrapper {
            width: 80%;
        }
        h1 {
            font-size: 1.2rem;
        }
        div {
            font-size: 0.6rem;
        }
        .submit_btn {
            font-size: 0.7rem;
        }
    }
    @media screen and (max-width: 350px) {
        .signup-wrapper {
            width: 85%;
        }
        h1 {
            font-size: 1rem;
        }
        div {
            font-size: 0.5rem;
        }
        .submit_btn {
            font-size: 0.6rem;
        }
    }
    @media screen and (max-width: 350px) {
        .submit_btn {
            font-size: 0.4rem;
        }
        input {
            padding-right: 2.1rem;
        }
    }
    @media screen and (max-width: 200px) {
        h1 {
            font-size: 0.8rem;
        }
        div {
            font-size: 0.4rem;
        }
        .submit_btn {
            font-size: 0.3rem;
        }
    }
    @media screen and (max-height: 850px) {
        input {
            height: 2rem;
        }
        h1 {
            font-size: 1.3rem;
        }
        div {
            font-size: 0.8rem;
        }
        .submit_btn {
            font-size: 1rem;
            height: 2rem;
        }
        input {
            height: 2rem;
        }
        .position_icon {
            .pi {
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-height: 800px) {
        .signup-container {
            justify-content: bottom !important;
            height: calc(100vh - 6rem);
            margin-top: 4rem;
        }
        .row {
            margin-bottom: 0.8rem;
        }
    }
    @media screen and (max-height: 650px) {
        .signup-container {
            justify-content: bottom !important;
            height: calc(100vh - 6rem);
            margin-top: 4rem;
        }
        .row {
            margin-bottom: 0.8rem;
        }
        .signup-wave{
            display: none;
        }
    }
}
