<div class="row main-component">
    <div class="main-component-left col-xl-3 col-md-4 col-sm-12">
        <notifications [user]="user"
                       style="width: 80%;">

        </notifications>
        <bottom-left-menu [user]="user"
                          style="width: 80%;"
                          class="mt-5">
        </bottom-left-menu>
    </div>
    <div class="main-component-center col-xl-6 col-md-4 col-sm-12">
        <router-outlet>
        </router-outlet>
    </div>
    <div class="main-component-right col-xl-3 col-md-4 col-sm-12">
        <user-display [user]="user"
                      style="width: 80%;">
        </user-display>
        <friends-list style="width: 80%;" class="mt-5"></friends-list>
    </div>
</div>