:host {
    .row {
        width: 100%;
        height: calc(100vh - 4rem);
        margin: 0px;
        padding: 0px;
    }
    .main-component-left {
    }
    .main-component-right {
    }
    .main-component-center {
    }
}
