<div class="row main-component">
    <div class="main-component-left col-3">
        <notifications style="width: 80%;">

        </notifications>
        <bottom-left-menu [user]="user"
                          style="width: 80%;">
        </bottom-left-menu>
    </div>
    <div class="main-component-center col-6">
        <router-outlet>
        </router-outlet>
    </div>
    <div class="main-component-right col-3">
        <user-display [user]="user"
                      style="width: 80%;">
        </user-display>
        <friends-list style="width: 80%;"></friends-list>
    </div>
</div>