<div class="search-box">
    <p-table [value]="users"
             responsiveLayout="scroll"
             [scrollable]="true"
             scrollHeight="35vh"
             scrollDirection="both">
        <ng-template pTemplate="body"
                     let-user>
            <tr>
                <td style="width: calc(100% - 40px)"
                    (click)="seeUserPage(user)">{{getFullName(user)}}</td>
                <td style="width: 40px">
                    <button icon="pi pi-user-plus"
                            (click)="addFriend(user)">
                        <i class="pi pi-user-plus">
                        </i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>