@import "../shared/variables";

:host {
    .row {
        margin: 0px !important;
    }
    .app-nav {
        position: relative;
        background-color: $darkSecondaryColor;
        align-items: center;
        height: 4rem;
        color: $darkSecondaryColorText;
        padding: 0 1rem;
        z-index: 100;
    }
}
