<div *ngIf="selectedUser"
     class="profile-display-component">
    <div class="container profile-display-wrapper">
        <div class="row user-name-and-icon">
            <div class="col-12 user-icon">
                <i class="pi pi-user">
                </i>
            </div>
            <div class="col-12 user-full-name">
                <h3>
                    {{selectedUser.firstName}} {{selectedUser.lastName}}
                </h3>
            </div>
        </div>
        <div class="row user-utility-band d-flex justify-content-around">
            <div class="col-4 d-flex flex-column justify-content-center">
                <button *ngIf="selectedUser.id === loggedUser.id"
                        routerLink="/main/settings">
                    <i class="pi pi-cog">
                    </i>
                    Settings
                </button>
                <button *ngIf="!selectedUser.friendRequest && selectedUser.id !== loggedUser.id"
                        (click)="sendFriendRequest()">
                    <i class="pi pi-user-plus">
                    </i>
                    Add friend
                </button>
                <button *ngIf="selectedUser.friendRequest === 'sent'"
                        (click)="cancelFriendRequest('Canceled friend request.')">
                    <i class="pi pi-user-minus">
                    </i>
                    Cancel friend request
                </button>
                <button *ngIf="selectedUser.friendRequest === 'received'"
                        class="accept"
                        (click)="acceptFriendRequest()">
                    <i class="pi pi-check">
                    </i>
                    Accept
                </button>
                <button *ngIf="selectedUser.friendRequest === 'received'"
                        class="mt-2 decline"
                        (click)="cancelFriendRequest('Declined friend request.')">
                    <i class="pi pi-times">
                    </i>
                    Decline
                </button>
                <button *ngIf="selectedUser.friendRequest === 'friends'"
                        class="decline"
                        (click)="cancelFriendRequest('Removed friend.')">
                    <i class="pi pi-times">
                    </i>
                    Remove
                </button>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                <button (click)="seeUserPosts()">
                    <i class="pi pi-th-large">
                    </i>
                    See posts
                </button>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center">
                <button>
                    <i class="pi pi-users">
                    </i>
                    See friends
                </button>
            </div>
        </div>
        <div class="row user-about-section d-flex justify-content-center">
            <h3>About</h3>
            <div class="col-8">
                Birth date:
                <span>
                    {{selectedUser.birthDate ? selectedUser.birthDate:'No data available to display'}}
                </span>
            </div>
            <div class="col-8">
                Address:
                <span>
                    {{selectedUser.address ? selectedUser.address:'No data available to display'}}
                </span>
            </div>
            <div class="col-8">
                Gender:
                <span>
                    {{selectedUser.gender ? selectedUser.gender:'No data available to display'}}
                </span>
            </div>
        </div>
        <div *ngIf="loading"
             class="{{loading ? 'loading-block' : ''}}">
            <p-progressSpinner>
            </p-progressSpinner>
        </div>
    </div>
</div>