:host{
    .notification-wrapper{
        position: absolute;
        top: 4rem;
        right: 0;
        width: 20rem;
        background-color: rgba(255, 0, 0, 0.63);
        height: 4rem;
        border-bottom-left-radius: 21px;
        border-bottom-right-radius: 21px;
        z-index: 10000;
    }
}