<div class="bottom-left-menu-component">
    <div class="row">
        <div routerLink="/main/feed"
             routerLinkActive="active"
             class="col-12 d-flex flex-column justify-content-end">
            <span>
                <h5><i class="pi pi-home"></i> Feed</h5>
            </span>
        </div>
        <div routerLink="/main/settings"
             routerLinkActive="active"
             class="col-12  d-flex flex-column justify-content-end">
            <span>
                <h5> <i class="pi pi-cog"></i> Settings</h5>
            </span>
        </div>
        <div [routerLink]=" ['/main/user-feed', user.id]"
             routerLinkActive="active"
             class="col-12  d-flex flex-column justify-content-end">
            <span>
                <h5> <i class="pi pi-user"></i> Your posts</h5>
            </span>
        </div>
    </div>
</div>