<div class="bottom-left-menu-component">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-end">
            <span>
                Feed
            </span>
        </div>
        <div class="col-12  d-flex flex-column justify-content-end">
            <span>
                Settings
            </span>
        </div>
        <div class="col-12  d-flex flex-column justify-content-end">
            <span>
                Profile
            </span>
        </div>
    </div>
</div>