@import "../../../../../shared/variables";
@import "../../../../../shared/mixins";

:host {
    .bottom-left-menu-component {
        width: 80%;
        position: absolute;
        left: 0;
        bottom: 0;
        @include applyBorderRadius;
        box-shadow: 4px 4px 4px $boxShadow;
        background-color: $darkSecondaryColor;
        color: $darkPrimaryColorText;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .row {
            width: 100%;
            margin: 0;
            .col-12 {
                height: 3rem;
                text-align: left;
                align-items: center;
                width: 100%;
                span {
                    cursor: pointer;
                    width: 80%;
                    border-bottom: 1px solid #757575;
                }
            }
        }
    }
}
