@import "../../../../shared/variables";

:host {
    #particles-js {
        height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    color: $darkSecondaryColorText;
    .row {
        margin-bottom: 1.5rem;
    }
    .login_title {
        display: inline-block;
    }
    .title-container {
        text-align: center;
    }
    input,
    label {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        color: $darkSecondaryColorText;
    }
    input {
        border-radius: 21px;
        height: 2.5rem;
        background-color: $darkSecondaryColor;
        color: $inputColors;
        padding-left: 1rem;
        padding-right: 3rem;
    }
    .login-wrapper {
        width: 30%;
        z-index: 2;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4rem);
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .waves {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%;
    }
    .submit_btn {
        height: 2.5rem;
        outline: none;
        border: none;
        background-color: $darkSecondaryColor;
        color: $darkSecondaryColorText;
        border-radius: 21px;
        font-size: 1.4rem;
        box-shadow: 1px 2px 0px 0px rgb(29, 29, 29);
        width: 100%;
    }
    .submit_btn:hover {
        transition: 0.5s ease;
        background-color: $darkSecondaryColorText;
        color: black;
    }
    .position_icon {
        position: relative;
        .pi {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            font-size: 1.5rem;
        }
    }
    .invalid {
        input {
            border: 1px solid $warningColor;
        }
    }
    .redirect-to-signup {
        a {
            color: White;
            text-decoration: none;
        }
    }
    @media screen and (max-width: 1800px) {
        .login-wrapper {
            width: 32%;
        }
    }
    @media screen and (max-width: 1600px) {
        .login-wrapper {
            width: 35%;
        }
    }
    @media screen and (max-width: 1500px) {
        .login-wrapper {
            width: 35%;
        }
        h1{
            font-size: 1.5rem;
        }
        div{
            font-size: 0.9rem;
        }
        .submit_btn{
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 1300px) {
        .login-wrapper {
            width: 40%;
        }
    }
    @media screen and (max-width: 1100px) {
        .login-wrapper {
            width: 50%;
        }
    }
    @media screen and (max-width: 900px) {
        .login-wrapper {
            width: 70%;
        }
    }
    @media screen and (max-width: 700px) {
        .login-wrapper {
            width: 80%;
        }
        .submit_btn{
            width: 90%;
        }
    }
    @media screen and (max-width: 550px) {
        .login-wrapper {
            width: 80%;
        }
        h1{
            font-size: 1.3rem;
        }
        div{
            font-size: 0.8rem;
        }
        .submit_btn{
            font-size: 1rem;
            height: 2rem;
        }
        input {
            height: 2rem;
        }
        .position_icon {
            .pi {
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width: 450px) {
        .login-wrapper {
            width: 90%;
        }
        h1{
            font-size: 1.2rem;
        }
        div{
            font-size: 0.6rem;
        }
        .submit_btn{
            font-size: 0.7rem;
        }
    }
    @media screen and (max-width: 350px) {
        .login-wrapper {
            width: 95%;
        }
        h1{
            font-size: 1rem;
        }
        div{
            font-size: 0.5rem;
        }
        .submit_btn{
            font-size: 0.6rem;
        }
    }
    @media screen and (max-width: 350px) {
        .submit_btn{
            font-size: 0.4rem;
        }
    }
    @media screen and (max-width: 200px) {
        .login-wrapper {
            width: 100%;
        }
        h1{
            font-size: 0.8rem;
        }
        div{
            font-size: 0.4rem;
        }
        .submit_btn{
            font-size: 0.3rem;
        }
    }
}
