$darkSecondaryColor: #2a2a2c;
$darkPrimaryColor: #202022;
$darkSecondaryColorText: #c5c5c5;
$darkPrimaryColorText: #e6e6e6;
$inputColors: #a7a7a7;
$errorColor: rgb(100, 0, 0);
$errorColorFaded: rgba(160, 1, 1, 0.705);
$successColor: rgb(0, 70, 0);
$warningColor: rgb(160, 91, 0);
$boxShadow: rgba(0, 0, 0, 0.267);
$userIconColor: rgba(0, 255, 255, 0.63);
